<div class="row">
    <!-- TODOS LOS CARROS (COMPRADOS, VENDIDOS Y REGISTRADOS) -->
    {{#each fullCars}}
        <div class="col-md-4">
            <div class="card mb-3" style="border-radius: 10px;">
                <h4 class="card-header card-title d-flex justify-content-between align-items-center">
                    {{nombreCarro}}
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-subtitle">{{brand.[0].nombreMarca}}</h5>
                            <p class="card-subtitle">{{modeloCarro}}</p>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;" class="align-items-center">
                    <img
                    src="../../../uploadImages/{{imagenCarro}}"
                    alt="image Car"
                    height="200"
                    width="235" />
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            {{#if isPurchase}}
                                <del><h4>{{valorCarro}} $USD</h4></del>
                                <p class="card-subtitle" style="background: black; color: white;
                                                                margin-top: -0.6rem!important;
                                                                text-align: center;">
                                    COMPRADO
                                </p>
                            {{else if isSale }}
                                <del><h4>{{valorCarro}} $USD</h4></del>
                                <p class="card-subtitle" style="background: black; color: white;
                                                                margin-top: -0.6rem!important;
                                                                text-align: center;">
                                    VENDIDO
                                </p>
                            {{else }}
                                <h4>{{valorCarro}} $USD</h4>
                            {{/if }}
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex justify-content-end">
                            {{#if isPurchase}}
                                <a href="#">
                                    <button class="btn btn-info btn-block" style="font-size: 20px;padding: 10px;" title="Ver Detalles Compra">
                                        <i class="fa fa-eye" aria-hidden="true"></i> 
                                    </button>
                                </a>
                            {{else if isSale}}
                                <a href="#">
                                    <button class="btn btn-success btn-block" style="font-size: 20px;padding: 10px;" title="Ver Detalles Venta">
                                        <i class="fa fa-eye" aria-hidden="true"></i> 
                                    </button>
                                </a>
                            {{else }}
                                <a href="/cars/edit/{{ _id }}">
                                    <button class="btn btn-dark btn-block" style="font-size: 20px;padding: 10px;" title="Editar Carro">
                                        <i class="fa fa-edit" aria-hidden="true"></i> 
                                    </button>
                                </a>
                                <button class="btn btn-danger btn-block" style="font-size: 20px;padding: 10px;" 
                                        title="Eliminar Carro"
                                        data-toggle="modal" data-target="#exampleModalCenter{{ _id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>                                      
                            {{/if }}
<!-- MODAL ELIMINAR CARRO-->
<div class="modal fade" id="exampleModalCenter{{ _id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Elininar Carro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el carro?
        <br/><br/>
        <p style="font-weight: bold">{{nombreCarro}} - {{brand.[0].nombreMarca}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Eliminar Definitivamente">
            Cancelar</button>
        <form action="/cars/delete/{{ _id }}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <button type="submit" class="btn btn btn-danger btn-block">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   {{/each}}
</div>