<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar Usuario
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="number" class="form-control" name="numeroIdentificacion" placeholder="Número Identificación" value="{{numeroIdentificacion}}" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="primerNombre" placeholder="Primer Nombre" value="{{primerNombre}}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="segundoNombre" placeholder="Segundo Nombre" value="{{segundoNombre}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="primerApellido" placeholder="Primer Apellido" value="{{primerApellido}}" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="segundoApellido" placeholder="Segundo Apellido" value="{{segundoApellido}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="correoElectronico" placeholder="Correo Electrónico" value="{{correoElectronico}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contrasena" placeholder="Contraseña" value="{{contrasena}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmarContrasena" placeholder="Confirmar Contraseña" value="{{confirmarContrasena}}">
                    </div>
                    <button class="btn btn-primary btn-block" type="s">
                        Crear   
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>