<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar Usuario
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="numeroIdentificacion" placeholder="Numero Identificaci칩n" value="{{numeroIdentificacion}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombreCompleto" placeholder="Nombre Completo" value="{{nombreCompleto}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="correoElectronico" placeholder="Correo Electr칩nico" value="{{correoElectronico}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contrasena" placeholder="Contrase침a" value="{{contrasena}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmarContrasena" placeholder="Confirmar Contrase침a" value="{{confirmarContrasena}}">
                    </div>
                    <button class="btn btn-primary btn-block" type="s">
                        Crear   
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>